<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<description>
      MythPodcaster Web Application
    </description>
	<display-name>MythPodcaster</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>MythPodcaster</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>file:///etc/mythpodcaster/log4j.xml</param-value>
	</context-param>

	<context-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>/WEB-INF/mythpodcaster-servlet.xml /WEB-INF/mythpodcaster-quartz.xml /WEB-INF/mythpodcaster-database.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>mythpodcaster</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>mythpodcaster</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

</web-app>
